:root {
    --primary: #7c7979;
    --secondary: #f0f0f0;
    --tertiary: #ffffff; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


header {
    background-color: white;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 0px;
    top: 0;
}

nav {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav > a > img {
    width: 40%;
}

nav > input {
    height: 60%;
    width: 30%;
}

.nav_div {
    display: flex;
    gap: 1rem;
}

.nav_div > a {
    color: var(--primary);
}

.Compromisos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Compromisos > img {
    width: 25px;
}

.Compromisos > p {
    font-size: 12px;
}

.Mi_cuenta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mi_cuenta > img {
    width: 25px;
}

.Mi_cuenta > p {
    font-size: 12px;
}

.Mi_cesta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mi_cesta > img {
    width: 23px;
}

.Mi_cesta > p {
    font-size: 12px;
}

.header_div {
    height: 30%;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(131, 131, 131);
}

.header_div > button {
    background-color: white;
    border: 0px solid white;
    color: var(--primary);
}

.header_div > button:hover {
    background-color: rgb(235, 235, 235);
}

main {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
}

.first_section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oferta_top {
    display: flex;
    margin: 4rem;
}

.oferta_top > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.oferta_top > a > img {
    width: 90%;
}

.ofertas_top {
    width: 80%;
    margin: 5rem;
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ofertas_top > a {
    display: flex;
    flex-direction: column;
}

.ofertas_top > a > p {
    text-align: center;
    color: var(--primary);
    font-size: 13px;
}

.second_section {
    background-color: var(--secondary);
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.first_article {
    height: 70%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.first_article > button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background-color: rgb(252, 101, 46);
    color: var(--tertiary);
    border: 0px;
}

.first_article > button:hover {
    background-color: rgb(170, 70, 34);
}


.second_article {
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 1rem;

}

.second_article_ul1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
    justify-content: center;;
}

.second_article_ul1 > li > a {
    font-size: 13px;
    color: var(--primary);
}

.second_article_ul1 > li > a:hover {
    text-decoration: underline 2px ;
}

.second_article_ul2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 200px));
    gap: 20px;

}

.second_article_ul2 > li {
    background-color: var(--tertiary);
    width: 100%;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.second_article_ul2 > li > a > img {
    width: 80%;
}

.first_p {
    color: var(--primary);
    font-size: 12px;
}

.second_p {
    color: rgb(255, 66, 66);
}

.third_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.third_section_ul {
    margin-top: 50px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    align-items: center;
    gap: 2rem;
}

.third_section_ul2 > li > a {
    color: var(--primary);
}

.third_section_ul2 > li > a:hover {
    text-decoration: underline;
} 
 
.third_section_ul > li > a > img {
    width: 60px;
}

.third_section_ul > li > a > p {
    font-size: 12px;
    color: var(--primary);
}

.third_section_article {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.third_section_article > h3 {
    margin-left: 25rem;
}

.third_section_ul2 {
    width: 100vw;
    margin-left: 25rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2rem;
}

.third_section_ul2 > li > a > img {
    width: 150px;
}

.fourth_section {
    height: 50vh;
    width: 100vw;
    background-color: #d8d8d8;
}

.fourth_section_ul {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    gap: 2rem;
}

.fourth_section_ul > li {
    border-bottom: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fourth_section_ul > li > a:hover {
    text-decoration: underline;
    color: var(--primary);
}

.fourth_section_ul > li > a > h4 {
    color: var(--primary);
}

@media screen and ( max-width: 1000px) {
    .nav_div > a >p {
        display: none;
    }

    .header_div{
        border-bottom: 0px solid gray;
        padding: 5px;
    }

    .header_div > button {
        display: none;
    }

    nav > input {
        display: none;
    }
    .oferta_top > a > img {
        width: 23rem;
        height: 10rem;
    }

    .ofertas_top {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    }

    .second_section {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }

    .first_article {
        width: 80vw;
    }

    .second_article {
        margin-right: 70px;
    }

    .second_article_ul1 {
        width: 100vw;
    }

    .second_article_ul1 > li {
        width: 100px;
    }


    .second_article_ul2 {
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        width: 300px;
    }
    
    .second_article_ul2 > li {
        width: 100%;
    }

    .third_section {
        height: 220vh;
    }

    .third_section_ul {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    .third_section_ul2 {
        grid-template-columns: repeat(2, minmax(20px, 1fr));
        width:20rem;
    }

    .third_section_article {
        margin-right: 400px;
    }
}

@media screen and (min-width: 1000px){

    .header_div > input {
        display: none;
    }
    
}